<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOLZAPP</title>
    <script src="https://kit.fontawesome.com/c5d4023dee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <main>

        <div class="container" id="app">
            <!-- sidebar -->
            <div class="sidebar">
                <div class="row row-sidebar">
                    <div class="col">
                        <img class="avatar" src="./img/useravatar.jpg" alt="img">
                        <span class="bold-text">Mary</span>
                    </div>
                    <div class="col">
                        <ul class="icon-list">
                            <li><i class="fa-solid fa-circle-notch"></i></li>
                            <li><i class="fa-regular fa-message"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="row-alarm">
                    <span class="icon-alert">
                        <i class="fa-solid fa-bell-slash"></i>
                    </span>
                    <div class="column">
                        <span class="bold-text">Ricevi notifiche di nuovi messaggi</span>
                        <a href="#" class="anchor">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="row-search">
                    <input type="search" v-model="search" placeholder="&#128269; Cerca o inizia una nuova chat" class="search">
                </div>
                <!-- Chat contact list -->
                <div class="contact-list">
                    <ul class="chat">
                        <li v-for="(contact,i) in contacts" :class="i === currentIndex ? 'active' : ''"
                            class="contact_item" @click="setCurrentChat(i)">
                            <div class="col">
                                <img :src="contact.avatar" alt="" class="avatar" />
                                <div class="column">
                                    <span class="bold-text">{{contact.name}}</span>
                                    <span class="access">ultimo messaggio</span>
                                </div>
                            </div>
                            <div class="col">
                                <span class="hours">16:30</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-content">
                <!-- header chat active -->
                <div class="row row-sidebar">
                    <div class="col">
                        <img class="avatar" :src="contacts[currentIndex].avatar" alt="img">
                        <div class="column">
                            <span class="bold-text">{{contacts[currentIndex].name}}</span>
                            <span class="access">Ultimo accesso oggi alle 12:20</span>
                        </div>
                    </div>
                    <div class="col">
                        <ul class="icon-list">
                            <li><i class="fa-solid fa-magnifying-glass"></i></li>
                            <li><i class="fa-solid fa-paperclip"></i></li>
                            <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                        </ul>
                    </div>
                </div>
                <!-- chat panel -->
                <div class="chat-panel">
                    <div v-for="chat in contacts[currentIndex].messages"
                        :class="chat.status === 'sent' ? 'item_send' : 'item_receve'" class="chat_item">
                        <span>{{chat.message}}</span>
                        <span class="hours">{{chat.date}}</span>
                    </div>
                </div>
                <!-- input toolbar -->
                <div class="row row-input_message">
                    <span class="icon-list"><i class="fa-regular fa-face-smile"></i></span>
                    <input class="input-text" type="text" placeholder="Scrivi un messaggio"
                    v-model="newMessage" @keyup.enter="sendMessage">
                   
                    <span class="icon-list"><i class="fa-solid fa-microphone"></i></span>
                </div>
            </div>
        </div>

    </main>
    </div>



    <script src="./js/script.js"></script>
</body>

</html>